# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Datos en tiempo de ejecución
pids
*.pid
*.seed
*.pid.lock

# Directorio de cobertura utilizado por herramientas como istanbul
coverage/

# Archivos generados por el SO
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
